@model IEnumerable<AgendaMedica.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}

<div class="container text-dark mt-5">
    <h1 class="text-center display-5">Cadastro de <span class="fw-bold">Agendamentos</span></h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark btn-lg">Criar novo agendamento</a>
</p>

<br/>
<table class="table table-dark table-striped table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.AgendaId"
                           class="btn btn-sm btn-light me-2 d-inline-flex align-items-center">
                            Editar
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.AgendaId"
                           class="btn btn-sm btn-light d-inline-flex align-items-center">
                            Deletar
                        </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
