@model IEnumerable<AgendaMedica.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<div class="container text-danger mt-5">
    <h1 class="text-center display-5">Cadastro de <span class="fw-bold">Médicos</span></h1>

<p>
    <a asp-action="Create" class="btn btn-outline-danger btn-lg">Cadastrar médico</a>
</p>
<table class="table table-dark table-striped table-borderless">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CRM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade.Nome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicoId"
                       class="btn btn-sm btn-light me-2 d-inline-flex align-items-center">
                        Editar
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.MedicoId"
                       class="btn btn-sm btn-light d-inline-flex align-items-center">
                        Deletar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
